# Google docs
GOOGLE_CREDENTIALS_PATH=client_secret.json
GOOGLE_DOC_ID=
TOKEN_FOLDER=tokens
MY_NAME=Jerome
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
# AI Text generator
GEMINI_API_KEY=
# Discord
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_PUBLIC_KEY=
# Database Tables
TASKS_TABLE_NAME=VocabTasks
AI_USAGE_TABLE=AIModelUsage
DISCORD_TASK_QUEUE_URL=